@using Domain.Models
@namespace UIComponents

<a href="/post/@PostObj.ID" style="text-decoration: none">


    <div class="card">
        <div class="imageContainer" style="background-image: url('@PostObj.Images.First().Link');">
            <div class="pricetag">
                <p class="price">@PostObj.Cost.MonthlyRent kr.</p>
            </div>
        </div>
        <p class="address">@PostObj.Address.Street, @PostObj.Address.Zipcode, @PostObj.Address.City</p>
        <p class="description">
            <div class="title">
                <b>
                    @PostObj.Description
                </b>
            </div>

        </p>
        <hr>
        <p class="dimension">@postID </p>
    </div>
</a>

@code {

    [Parameter]
    public Post PostObj { get; set; }
    string postID = "";

    protected override async Task OnInitializedAsync()
    {
        postID = $"{PostObj.Area} sq. ft - {PostObj.HousingType.Name} - Rating: {PostObj.EnergyRating.Name}";
    }

}