@namespace UIComponents
@using Microsoft.AspNetCore.Components.Authorization;
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IUserService userService
@inject NavigationManager _nav;
@inject IJSRuntime js


<AuthorizeView Policy="MustBeAdmin">
    <Authorized>
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" onclick="hideSidebar()">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" onclick="hideSidebar()">Make post</a>
                </li>
                <li>
                    <a href="/ManageUsers" onclick="hideSidebar()">Manage users</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" onclick="hideSidebar()">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers " onclick="hideSidebar()">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special" onclick="hideSidebar()">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element" s>Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/ManageUsers" class="hideOnMobile">Manage users</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" class="hideOnMobile">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers" class="hideOnMobile">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                                  window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="MustBeLandlord">
    <Authorized>
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" onclick="hideSidebar()">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" onclick="hideSidebar()">Make post</a>
                </li>
                <li>
                    <a href="/MyChats" class="special" onclick="hideSidebar()">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element" s>Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                                  window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="MustBeMod">
    <Authorized >
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" onclick="hideSidebar()">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" onclick="hideSidebar()">Make post</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" onclick="hideSidebar()">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers " onclick="hideSidebar()">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special" onclick="hideSidebar()">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element" s>Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" class="hideOnMobile">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers" class="hideOnMobile">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                                  window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="MustBeClient">
    <Authorized>
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="" class="special" @onclick='() => { showModal = true; js.InvokeVoidAsync("hideSidebar");}'>LandLord status</a>
                    
                </li>
                <li>
                    <a href="/MyChats" class="special" onclick="hideSidebar()">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element" s>Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="" class="special hideOnMobile" @onclick="() => { showModal = true;}">LandLord status</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>

            <Modal ShowModal="showModal">
                <p>Requesting a landlord status will will require to log you off. <br> Do you agree? </p>
                <div style="display: flex; justify-content: space-around">
                    <button type="button" class="btn btn-secondary" @onclick="() => { showModal = false; }">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick='() => { id = Int32.Parse(context.User.FindFirst("ID").Value); Proceed();}'>Approve</button>

                </div>
            </Modal>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                   window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="MustBePending">
    <Authorized>
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyChats" class="special" onclick="hideSidebar()">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element" s>Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                                  window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <nav class="navigation @navClass">
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="/ContactUs" class="special" onclick="hideSidebar()">Contact us</a>
                </li>
                <li>
                    <a href="/login" class="special" onclick="hideSidebar()">Sign in</a>
                </li>

            </ul>


            <ul>
                <li>

                    <div class="logobox" @onclick="NavigateToHome" style="cursor: pointer">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 class="logoHeader" style="color: white; font-size:30px; text-align: center; margin-bottom: 0; margin-left: 5px">MiTHus</h1>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li>
                    <a href="/Login" class="special hideOnMobile">Sign in</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            var navigationEl123 = null;
            if (navigationEl123 == null)
            {
                navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
            } else
              {
                                  window.addEventListener('scroll', () => {
                                      if (window.scrollY > 50) {
                                          navigationEl123.classList.add('solid');
                                      } else {
                                          navigationEl123.classList.remove('solid');
                                      }
                                  })
              }
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private bool showModal;

    private async void Proceed()
    {
        showModal = false;
        await RequestLandLordStatus();
        await LogOutAsync();
    }

    [Parameter]
    public bool alwaysColoured { get; set; } = false;



    private string navClass = "";
    int id;

    protected override async Task OnInitializedAsync()
    {
        if (alwaysColoured)
        {
            navClass = "solid";
        }
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal userblea = authState.User;
        if (userblea != null)
        {
            if (userblea.FindFirst("ID") != null)
            {
                string p = userblea.FindFirst("ID").Value;
                id = int.Parse(p);
                Console.WriteLine(id);
            }
        }
    }

    public void NavigateToHome()
    {
        _nav.NavigateTo("/");
    }

    private async Task LogOutAsync()
    {
        try
        {
            await userService.LogoutAsync();
            _nav.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task RequestLandLordStatus()
    {
        try
        {
            await js.InvokeVoidAsync("hideSidebar");
            await userService.SetUserStatusAsync(id, 6);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }


}