@namespace UIComponents
@using Microsoft.AspNetCore.Components.Authorization;
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IUserService userService
@inject NavigationManager _nav;


<AuthorizeView Policy="MustBeAdmin">
    <Authorized>
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts">My posts</a>
                </li>
                <li>
                    <a href="/MakePost">Make post</a>
                </li>
                <li>
                    <a href="/ManageUsers">Manage users</a>
                </li>
                <li>
                    <a href="/SeePendingPosts">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element">Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/ManageUsers" class="hideOnMobile">Manage users</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" class="hideOnMobile">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers" class="hideOnMobile">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="color: white">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            const navigationEl123 = document.querySelector('.navigation');
            window.addEventListener('scroll', () => {
                if (window.scrollY > 50) {
                    navigationEl123.classList.add('solid');
                } else {
                    navigationEl123.classList.remove('solid');
                }
            })
            
            function showSidebar(){
                
                const sidebar = document.querySelector('.sidebar')
                
                sidebar.style.display = 'flex';
            }
            
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'none';
            }
        </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="MustBeLandlord">
    <Authorized>
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts">My posts</a>
                </li>
                <li>
                    <a href="/MakePost">Make post</a>
                </li>
                <li>
                    <a href="/MyChats" class="special">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element">Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="color: white">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
                    const navigationEl123 = document.querySelector('.navigation');
                    window.addEventListener('scroll', () => {
                        if (window.scrollY > 50) {
                            navigationEl123.classList.add('solid');
                        } else {
                            navigationEl123.classList.remove('solid');
                        }
                    })
                    
                    function showSidebar(){
                        
                        const sidebar = document.querySelector('.sidebar')
                        
                        sidebar.style.display = 'flex';
                    }
                    
                    function hideSidebar(){
                        const sidebar = document.querySelector('.sidebar')
                                        
                                        sidebar.style.display = 'none';
                    }
                </script>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="MustBeMod">
    <Authorized >
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts">My posts</a>
                </li>
                <li>
                    <a href="/MakePost">Make post</a>
                </li>
                <li>
                    <a href="/SeePendingPosts">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element">Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MakePost" class="hideOnMobile">Make post</a>
                </li>
                <li>
                    <a href="/SeePendingPosts" class="hideOnMobile">Pending posts</a>
                </li>
                <li>
                    <a href="/PendingUsers" class="hideOnMobile">Pending users</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="color: white">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
                const navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
                
                function showSidebar(){
                    
                    const sidebar = document.querySelector('.sidebar')
                    
                    sidebar.style.display = 'flex';
                }
                
                function hideSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                                    
                                    sidebar.style.display = 'none';
                }
            </script>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy="MustBeClient">
    <Authorized>
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts">My posts</a>
                </li>
                <li>
                    <a href="/MakePost">Make post</a>
                </li>
                <li>
                    <a href="/MyChats" class="special">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element">Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a @onclick="@RequestLandLordStatus" class="hideOnMobile">Request status</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="color: white">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
                const navigationEl123 = document.querySelector('.navigation');
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 50) {
                        navigationEl123.classList.add('solid');
                    } else {
                        navigationEl123.classList.remove('solid');
                    }
                })
                
                function showSidebar(){
                    
                    const sidebar = document.querySelector('.sidebar')
                    
                    sidebar.style.display = 'flex';
                }
                
                function hideSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                                    
                                    sidebar.style.display = 'none';
                }
            </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="MustBePending">
    <Authorized>
        <nav>
            <ul class="sidebar">
                <li onclick="hideSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/MyPosts">My posts</a>
                </li>
                <li>
                    <a href="/MyChats" class="special">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>

            </ul>


            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="ManageAccount" class="element">Hi, @context.User.FindFirst("Firstname").Value</a>
                </li>
                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/MyPosts" class="hideOnMobile">My posts</a>
                </li>
                <li>
                    <a href="/MyChats" class="special hideOnMobile">My Chats</a>
                </li>
                <li>
                    <a href="/" @onclick="LogOutAsync" class="special hideOnMobile">Log out</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special hideOnMobile">Contact us</a>
                </li>
                <li class="menuButton" onclick="showSidebar()">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" style="color: white">
                            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
                    const navigationEl123 = document.querySelector('.navigation');
                    window.addEventListener('scroll', () => {
                        if (window.scrollY > 50) {
                            navigationEl123.classList.add('solid');
                        } else {
                            navigationEl123.classList.remove('solid');
                        }
                    })
                    
                    function showSidebar(){
                        
                        const sidebar = document.querySelector('.sidebar')
                        
                        sidebar.style.display = 'flex';
                    }
                    
                    function hideSidebar(){
                        const sidebar = document.querySelector('.sidebar')
                                        
                                        sidebar.style.display = 'none';
                    }
                </script>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <nav>
            <ul>
                <li>
                    <div class="logobox">
                        <div class="logodiv">
                            <img src="img/image%203.png" class="logoimg">
                        </div>
                        <div class="logotext">
                            <h1 style="color: white">MiTHus</h1>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="#" class="hideOnMobile">Home</a>
                </li>
                <li>
                    <a href="/login" class="special">Log in</a>
                </li>
                <li>
                    <a href="/ContactUs" class="special">Contact us</a>
                </li>
            </ul>
        </nav>

        <script>
                            const navigationEl123 = document.querySelector('.navigation');
                            window.addEventListener('scroll', () => {
                                if (window.scrollY > 50) {
                                    navigationEl123.classList.add('solid');
                                } else {
                                    navigationEl123.classList.remove('solid');
                                }
                            })
                            
                            function showSidebar(){
                                
                                const sidebar = document.querySelector('.sidebar')
                                
                                sidebar.style.display = 'flex';
                            }
                            
                            function hideSidebar(){
                                const sidebar = document.querySelector('.sidebar')
                                                
                                                sidebar.style.display = 'none';
                            }
                        </script>
    </NotAuthorized>
</AuthorizeView>


@code {

    [Parameter]
    public bool alwaysColoured { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string navClass = "";
    int id = 0;

    protected override async Task OnInitializedAsync()
    {
        if (alwaysColoured)
        {
            navClass = "solid";
        }
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal userblea = authState.User;
        if (userblea != null)
        {
            if (userblea.FindFirst("ID") != null)
            {
                string p = userblea.FindFirst("ID").Value;
                id = int.Parse(p);
            }
        }
    }

    private async Task LogOutAsync()
    {
        try
        {
            await userService.LogoutAsync();
            _nav.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task RequestLandLordStatus()
    {
        try
        {
            await userService.SetUserStatusAsync(id, 6);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}